#app_common{overflow: hidden;}
main{overflow: hidden;min-height: 1000px;}
.container{padding-left: 280px;}
.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}
/* 상단 서치바 리스트 */
header .search-cont input{box-shadow: none;border-inline: none;}
header .search-cont{position: relative;z-index: 10;}
header .search-cont .form-control:focus+.search-list{display: block;}
header .search-cont .search-list{display: none;width: calc(100% + 2px);position: absolute;left: -1px;top:35px;background-color: #fff;border: 1px solid #000;border-top-width: 0px;padding: 10px 20px;}
header .search-cont .search-list ul{margin: 0;padding: 0;}
header .search-cont .search-list ul li{overflow: hidden;}
header .search-cont .search-list ul li.active{background-color: #f0f0f0;}
header .search-cont .search-list ul li a{display: block;color: #000;font-size: 14px;line-height: 30px;text-decoration: none;}
header .search-cont .search-list ul li span{float: right;display: none}
header .search-cont .search-list ul li:focus,
header .search-cont .search-list ul li:hover{background-color: #f0f0f0;}
header .search-cont .search-list ul li:focus span,
header .search-cont .search-list ul li:hover span{display: block;}
/* 메인 본문 */
.container-fluid{padding-top: 56px;}
.navbar .navbar-toggler {top: 0.5rem;right:0.5rem;}
.btn-un-link{color: #000;text-decoration: none;}
.btn-un-link:hover{color: #000;text-decoration: underline;}

main .red-line{border-left: 4px solid #f00;text-indent: 10px;}
main .yellow-line{border-left: 4px solid #ffd600;text-indent: 10px;}
main .blue-line{border-left: 4px solid #0005ff;text-indent: 10px;}
main .pink-line{border-left: 4px solid #ff8c8c;text-indent: 10px;}

main .ellipsis{height: inherit;text-overflow: ellipsis;white-space: nowrap;overflow:hidden}


@media (max-width: 768px){
    header .search-cont{
        margin-top: 0.5rem;
    }
    #sidebarMenu{
        position: fixed;
        top: 102px;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .container-fluid{padding-top: 102px;}
}